{% block sw_cms_element_table_preview %}
    <div class="sw-cms-el-preview-table">
        <div class="sw-cms-el-preview-table__container">
            <div class="sw-cms-el-preview-table__header">Header 1</div>
            <div class="sw-cms-el-preview-table__header">Header 2</div>
            <div class="sw-cms-el-preview-table__header">Header 3</div>

            <div class="sw-cms-el-preview-table__cell">Cell 1</div>
            <div class="sw-cms-el-preview-table__cell">Cell 2</div>
            <div class="sw-cms-el-preview-table__cell">Cell 3</div>

            <div class="sw-cms-el-preview-table__cell">Cell 4</div>
            <div class="sw-cms-el-preview-table__cell">Cell 5</div>
            <div class="sw-cms-el-preview-table__cell">Cell 6</div>
        </div>
    </div>
{% endblock %}
