@import '~scss/variables';

.sw-cms-el-preview-table {
    margin-top: 20px;
    font-size: 10px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
    }

    &__cell,
    &__header {
        flex: 1 33%;
        padding: 2px;
        border-bottom: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
    }

    &__header {
        font-weight: 700;
    }
}
