{% block sw_cms_block_preview_timeline %}
    <div class="sw-cms-block-preview-timeline">
        <div class="sw-cms-block-preview-timeline__item">
            <div class="sw-cms-block-preview-timeline__item-inner">
                <div class="sw-cms-block-preview__empty-stage">
                    <sw-icon name="default-basic-plus-circle" size="18" />
                    <p>{{ $tc('sw-cms.detail.label.addBlocks') }}</p>
                </div>
            </div>
        </div>

        <div class="sw-cms-block-preview-timeline__item sw-cms-block-preview-timeline__item--right">
            <div class="sw-cms-block-preview-timeline__item-inner">
                <div class="sw-cms-block-preview__empty-stage">
                    <sw-icon name="default-basic-plus-circle" size="18" />
                    <p>{{ $tc('sw-cms.detail.label.addBlocks') }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
