{% block sw_cms_block_icon %}
    <div class="sw-cms-block-preview-icon">
        <div class="icon-container">
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="icon">
        </div>
        
        <span>Lorem ipsum</span>
    </div>
{% endblock %}
