{% block sw_cms_element_alert_preview %}
    <div class="sw-cms-el-preview-alert">
        <sw-icon 
            name="default-badge-info" 
            size="16"
        />

        <div class="sw-cms-el-preview-alert__content-container">
            <div class="sw-cms-el-preview-alert__heading">
                Heading
            </div>

            <div class="sw-cms-el-preview-alert__content">
                Lorem ipsum dolor sit amet!
            </div>
        </div>
    </div>
{% endblock %}
