{% block sw_cms_block_additional_config_base_form %}
    {% block sw_cms_block_config_accordion %}
        <div class="sw-cms-block-config-accordion">
            {# Active index #}
            <sw-number-field
                v-model="additionalSettingsFields.activeIndex"
                :label="$tc('sw-cms.blocks.accordion.config.activeIndex.label')"
                :min="0"
                :step="1"
                size="small"
                :disabled="notResponsive"
                :helpText="$tc('sw-cms.blocks.accordion.config.activeIndex.helpText')"
            />
        </div>
    {% endblock %}
{% endblock %}
