@import "~scss/variables";

.sw-cms-section {
    &.is--boxed {
        .sw-cms-section__wrapper {
            max-width: 1400px;
            padding: 0;

            .sw-cms-section__content {
                padding: 20px;

                // for sublocks
                .sw-cms-section__content {
                    padding: 0;
                }
            }
        }
    }

    .sw-cms-section__wrapper {
        padding: 0;
    }

    .sw-cms-section__content {
        overflow: hidden;
        padding: 20px;

        // for sublocks
        .sw-cms-section__content {
            padding: 0;
        }
    }
}

.sw-cms-stage-add-block {
    left: 0;
}

.sw-cms-block-preview__empty-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: 100px;
    color: #b3bfcc;
    text-align: center;
    border-radius: 10px;
    border: 1px dashed #d1d9e0;
}
