{% block sw_cms_block_additional_config %}
    <div class="sw-cms-block-additional-config">
        <component :is="`sw-cms-block-config-${block.type}`"
            :block="block"
        />
    </div>
{% endblock %}
