@import "~scss/variables";

.sw-cms-el-preview-list {
    padding: 10px 0 0 10px;
    
    div {
        margin: 10px 0;
        height: 0.4em;
        border-radius: 25px;
        background-color: $color-gray-100;

        &::before {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            margin-left: -10px;
            border-radius: 50%;
            background-color: $color-gray-400;
        }

        &.sw-cms-el-category-navigation__placeholder--subcategory {
            margin: 7px 0 7px 15px;
        }
    }
}
