{% block sw_cms_component_link_field %}
    <div class="sw-cms-component-link-field">
        {% block sw_cms_component_link_field_section_title %}
            <h3>{{ label }}</h3>
        {% endblock %}

        {% block sw_cms_component_link_field_tabs %}
            <sw-tabs
                class="sw-cms-component-link-field__tabs"
                default-item="content"
            >
                <template slot-scope="{ active }">
                    {% block sw_cms_component_link_field_tab_content %}
                        <sw-tabs-item
                            :title="$tc('sw-cms.elements.general.config.tab.content')"
                            name="content"
                            :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.general.config.tab.content') }}
                        </sw-tabs-item>
                    {% endblock %}

                    {% block sw_cms_component_link_field_tab_options %}
                        <sw-tabs-item
                            :title="$tc('sw-cms.elements.general.config.tab.settings')"
                            name="settings"
                            :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.general.config.tab.settings') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template
                    slot="content"
                    slot-scope="{ active }"
                >
                    {# Content tab #}
                    {% block sw_cms_component_link_field_content %}
                        <sw-container
                            v-if="active === 'content'"
                            class="sw-cms-component-link-field__tab-content"
                        >
                            {# Url #}
                            {% block sw_cms_component_link_field_url %}
                                <sw-dynamic-url-field
                                    v-model="linkValue.url"
                                />
                            {% endblock %}

                            <div class="group-two">
                                {# Text #}
                                {% block sw_cms_component_link_field_text %}
                                    <sw-field
                                        v-if="type=='button'"
                                        v-model="linkValue.text"
                                        :label="$tc('sw-cms.component.sw-cms-link-field.text.label')"
                                        :placeholder="$tc('sw-cms.component.sw-cms-link-field.text.placeholder')"
                                        type="text"
                                    />
                                {% endblock %}
    
                                {# Title #}
                                {% block sw_cms_component_link_field_title %}
                                    <sw-field
                                        v-model="linkValue.title"
                                        :label="$tc('sw-cms.component.sw-cms-link-field.title.label')"
                                        :placeholder="$tc('sw-cms.component.sw-cms-link-field.title.placeholder')"
                                        type="text"
                                    />
                                {% endblock %}
                            </div>
                        </sw-container>
                    {% endblock %}

                    {# Settings tab #}
                    {% block sw_cms_component_link_field_settings %}
                        <sw-container
                            v-if="active === 'settings'"
                            class="sw-cms-component-link-field__tab-settings"
                        >
                            <div class="group-two">
                                {# Type #}
                                {% block sw_cms_component_link_field_type %}
                                    <sw-select-field
                                        v-if="type=='button'"
                                        v-model="linkValue.type"
                                        :label="$tc('sw-cms.component.sw-cms-link-field.type.label')"
                                    >
                                        <option value="primary">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.type.optionPrimary') }}
                                        </option>
                                        <option value="secondary">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.type.optionSecondary') }}
                                        </option>
                                        <option value="success">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.type.optionSuccess') }}
                                        </option>
                                        <option value="danger">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.type.optionDanger') }}
                                        </option>
                                        <option value="warning">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.type.optionWarning') }}
                                        </option>
                                        <option value="info">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.type.optionInfo') }}
                                        </option>
                                        <option value="light">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.type.optionLight') }}
                                        </option>
                                        <option value="dark">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.type.optionDark') }}
                                        </option>
                                        <option value="link">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.type.optionLink') }}
                                        </option>
                                    </sw-select-field>
                                {% endblock %}
    
                                {# Size #}
                                {% block sw_cms_component_link_field_size %}
                                    <sw-select-field
                                        v-if="type=='button'"
                                        v-model="linkValue.size"
                                        :label="$tc('sw-cms.component.sw-cms-link-field.size.label')"
                                    >
                                        <option value="sm">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.size.optionSmall') }}
                                        </option>
                                        <option value="md">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.size.optionMedium') }}
                                        </option>
                                        <option value="lg">
                                            {{ $tc('sw-cms.component.sw-cms-link-field.size.optionLarge') }}
                                        </option>
                                    </sw-select-field>
                                {% endblock %}
                            </div>

                            <div class="group-three">
                                {# Outline #}
                                {% block sw_cms_component_link_field_outline %}
                                    <sw-switch-field
                                        v-if="type=='button'"
                                        v-model="linkValue.outline"
                                        :label="$tc('sw-cms.component.sw-cms-link-field.outline.label')"
                                    />
                                {% endblock %}

                                {# Block #}
                                {% block sw_cms_component_link_field_block %}
                                    <sw-switch-field
                                        v-if="type=='button'"
                                        v-model="linkValue.block"
                                        :label="$tc('sw-cms.component.sw-cms-link-field.block.label')"
                                    />
                                {% endblock %}
    
                                {# New tab #}
                                {% block sw_cms_component_link_field_new_tab %}
                                    <sw-switch-field
                                        v-model="linkValue.newTab"
                                        :label="$tc('sw-cms.component.sw-cms-link-field.newTab.label')"
                                    />
                                {% endblock %}
                            </div>
                        </sw-container>
                    {% endblock %}
                </template>
            </sw-tabs>
        {% endblock %}
    </div>
{% endblock %}
