.sw-cms-el-config-audio {
    .sw-cms-mapping-field {
        margin-bottom: 16px;
    }

    .sw-media-upload-v2__header {
        min-height: 30px;
    }

    .sw-cms-mapping-field__info {
        display: none;
    }
}
