{% block sw_cms_block_preview_teaser_collapse %}
    <div class="sw-cms-block-preview-teaser-collapse">
        <div class="sw-cms-block-preview-teaser-collapse__content">
            <div class="sw-cms-block-preview__empty-stage">
                <sw-icon name="default-basic-plus-circle" size="18" />
                <p>{{ $tc('sw-cms.detail.label.addBlocks') }}</p>
            </div>
        </div>
            
        <span class="sw-cms-block-preview-teaser-collapse__link">
            <span>{{ $tc('sw-cms.blocks.teaserCollapse.showMore') }}</span>
            <sw-icon name="default-arrow-head-down" size="10" />
        </span>
    </div>
{% endblock %}
