.image-text-slider-form {
    .sw-media-upload-v2 {
        margin-bottom: 32px;
    }

    .grid-3-col {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
    
    .grid-2-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}

.sw-media-preview-v2 {
    &__item {
        height: 100%;
        width: 100%;
    }
}
