{% block sw_cms_block_audio %}
    <div class="sw-cms-block-preview-audio">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">

        <div class="sw-cms-block-preview-audio__main-content">
            <div class="sw-cms-block-preview-audio__title">Lorem ipsum</div>

            <div class="sw-cms-block-preview-audio__audio-container">
                <div class="sw-cms-block-preview-audio__bar"></div>
            </div>
        </div>
    </div>
{% endblock %}
