{% block element_cms_list_item_component %}
    <li>
        {% block element_cms_list_item_component_name %}
            <span>{{ item.name }}</span>
        {% endblock %}

        {% block element_cms_list_item_component_children %}
            {% if item.hasChildren %}
                <ul>
                    {% for child in item.children %}
                        {% sw_include "@Storefront/storefront/element/component/list-item.html.twig" with {
                            item: child.value,
                        } %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    </li>
{% endblock %}
