{% block element_cms_list_item_component %}
    <li>
        <span>{{ item.name }}</span>

        {% if item.hasChildren %}
            <ul>
                {% for child in item.children %}
                    {% sw_include "@Storefront/storefront/element/component/list-item.html.twig" with {
                        item: child.value,
                    } %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}
