@import "~scss/variables";

.sw-cms-block-card {
    border: 1px solid #d1d9e0;
    border-radius: 4px;

    &__header,
    &__footer {
        padding: 12px 20px 2px;
        background-color: rgba(0, 0, 0, .03);
        border-bottom: 1px solid #d1d9e0;

        .sw-cms-section__content.is--empty {
            min-height: 80px;
            height: 80px;
        }
    }

    &__body {
        padding: 20px 20px 10px;
    }

    &__footer {
        border-bottom: 0;
        border-top: 1px solid #d1d9e0;
    }
}
