{% block sw_cms_component_heading_field %}
    <div class="sw-cms-heading-field">
        {% block sw_cms_component_heading_field_label %}
            <div class="sw-cms-heading-field__label">
                <label>
                    {{ label }}
                </label> 
            </div>
        {% endblock %}

        <div class="sw-cms-heading-field__field-container">
            {% block sw_cms_component_heading_field_tag %}
                <sw-select-field
                    v-model="headingValue.tag"
                >
                    <option value="h1">
                        {{ $tc('sw-cms.component.sw-cms-heading-field.headingTag.h1') }}
                    </option>
                    <option value="h2">
                        {{ $tc('sw-cms.component.sw-cms-heading-field.headingTag.h2') }}
                    </option>
                    <option value="h3">
                        {{ $tc('sw-cms.component.sw-cms-heading-field.headingTag.h3') }}
                    </option>
                    <option value="h4">
                        {{ $tc('sw-cms.component.sw-cms-heading-field.headingTag.h4') }}
                    </option>
                    <option value="h5">
                        {{ $tc('sw-cms.component.sw-cms-heading-field.headingTag.h5') }}
                    </option>
                    <option value="h6">
                        {{ $tc('sw-cms.component.sw-cms-heading-field.headingTag.h6') }}
                    </option>
                </sw-select-field>
            {% endblock %}

            {% block sw_cms_component_heading_field_text %}
                <sw-field
                    v-model="headingValue.text"
                    type="text"
                    :placeholder="$tc('sw-cms.component.sw-cms-heading-field.textPlaceholder')">
                </sw-field>
            {% endblock %}
        </div>
    </div>
{% endblock %}