.sw-cms-el-icon {
    width: 100%;

    &.center {
        text-align: center;
    }

    &.right {
        text-align: right;
    }

    .icon {
        height: 30px;
        margin-bottom: 9px;

        &-large {
            height: 60px;
        }
    }
}
