{% block sw_cms_element_video_preview %}
    <div class="sw-cms-el-preview-video">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">

        <sw-icon 
            name="multicolor-action-play" 
            size="24"
        />
    </div>
{% endblock %}
