{% block element_video %}
    {% set config = element.translated.config %}

    {% set mediaCollection = searchMedia([config.media.value], context.context) %}
    {% set media = mediaCollection.get(config.media.value) %}

    {% set mediaCollection = searchMedia([config.previewMedia.value], context.context) %}
    {% set previewMedia = mediaCollection.get(config.previewMedia.value) %}
    
    <div class="cms-element-{{ element.type }}" data-custom-video="true">
        {% block element_video_video %}
            <video width="100%" 
                data-src="{{ media.url }}" 
                muted 
                controls 
            ></video>
        {% endblock %}

        {% block element_video_preview %}
            <div class="preview-content">
                {% block element_video_preview_play %}
                    <button class="btn play-button"></button>
                {% endblock %}

                {% if previewMedia.url %}
                    {% block element_video_preview_image %}
                        <img class="preview-image" 
                            src="{{ previewMedia.url }}" 
                            alt="Preview image"
                        >
                    {% endblock %}
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
