{% block element_code %}
    {% set config = element.translated.config %}

    <div class="cms-element-{{ element.type }}">
        {% block element_code_css %}
            <style>
                {{ config.cssContent.value|raw }}
            </style>
        {% endblock %}
        
        {% block element_code_html %}
            {{ config.htmlContent.value|raw }}
        {% endblock %}
    </div>
{% endblock %}
