{% block element_icon %}
    {% set config = element.translated.config %}
    
    <div class="cms-element-{{ element.type }} text-{{ config.horizontalAlignment.value }}">
        {% block element_icon_container %}
            <div class="icon-container">
                {% sw_thumbnails 'cms-icon-thumbnails' with {
                    media: element.data.media,
                    attributes: {
                        'class': (config.iconSize.value ? 'icon-small' : 'icon-large')
                    }
                } %}
            </div>
        {% endblock %}

        {% block element_icon_text %}
            {% if config.text.value %}
                <span class="text">{{ config.text.value | raw }}</span>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
