{% block element_video %}
    {% set config = element.translated.config %}

    {% set mediaCollection = searchMedia([config.media.value], context.context) %}
    {% set media = mediaCollection.get(config.media.value) %}

    {% set mediaCollection = searchMedia([config.previewMedia.value], context.context) %}
    {% set previewMedia = mediaCollection.get(config.previewMedia.value) %}
    
    <div class="cms-element-{{ element.type }}" data-custom-video="true">
        <video width="100%" 
            data-src="{{ media.url }}" 
            muted 
            controls 
        ></video>

        <div class="preview-content">
            <button class="btn play-button"></button>

            {% if previewMedia.url %}
                <img class="preview-image" 
                    src="{{ previewMedia.url }}" 
                    alt="Preview image"
                >
            {% endif %}
        </div>
    </div>
{% endblock %}
