@import "~scss/variables";

.sw-cms-block__config-overlay.fix--block-overlay-z-index {
    z-index: -1 !important;
}

.sw-cms-block-group {
    position: relative;

    &:hover .sw-cms-block-group__actions {
        display: block;
    }

    &__actions {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        grid-template-columns: 1fr;
        background-color: $color-shopware-brand-500;
        border: 1px solid $color-shopware-brand-500;
        border-bottom-left-radius: 8px;
        z-index: 251;
        opacity: .6;
        transform: translate(50%, 0%);
        transition: .3s;

        &:hover {
            opacity: 1;
            transform: translate(0%, 0%);
        }

        &.center {
            right: 50%;
            transform: translateX(50%);
            border-bottom-right-radius: 8px;
        }

        &.left {
            right: auto;
            left: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 8px;
        }
    }

    &__settings-action {
        padding: 10px;
        line-height: 16px;
        color: $color-white;
        cursor: pointer;
    }
}
