{% block sw_cms_block_preview_card_horizontal %}
    <div class="sw-cms-block-preview-card-horizontal">
        <div class="sw-cms-block-preview-card-horizontal__inner">
            <div class="sw-cms-block-preview-card-horizontal__header">
                <div class="sw-cms-block-preview__empty-stage">
                    <sw-icon name="default-basic-plus-circle" size="18" />
                    <p>{{ $tc('sw-cms.detail.label.addBlocks') }}</p>
                </div>
            </div>
    
            <div class="sw-cms-block-preview-card-horizontal__body">
                <div class="sw-cms-block-preview__empty-stage">
                    <sw-icon name="default-basic-plus-circle" size="18" />
                    <p>{{ $tc('sw-cms.detail.label.addBlocks') }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
