{% block cms_block_group_content %}
    {% block sw_cms_block_row %}
        <div class="sw-cms-block-row">
            <div v-for="(col, index) in panels" 
                class="sw-cms-block-row__col"
            >
                <cms-block-sub-section
                    :childBlocks="childBlocks(`${col.key}`)"
                    :subSectionName="`${col.key}`"
                    @stage-block-add="onAddSectionBlock"
                    @block-overlay-click="onBlockSelection"
                />
            </div>
        </div>
    {% endblock %}
{% endblock %}
