@import "~scss/variables";

.sw-cms-block-row {
    display: flex;
    gap: 40px;
    padding: 1px;

    // For mobile view
    .is--mobile &{
        flex-direction: column;
    }
    
    &__col {
        flex: 1;
    }
}
