.sw-cms-block-preview-breadcrumbs {
    padding: 20px;

    .breadcrumb {
        display: flex;
        list-style: none;
        font-size: 12px;
    }
    
    .breadcrumb-link {
        color: inherit;
        text-decoration: none;

        &.is-active {
            font-weight: 600;
        }
    }
    
    .breadcrumb-placeholder {
        padding: 0 4px;
    }
}
