{% block sw_cms_block_alert %}
    <div class="sw-cms-block-preview-alert">
        <div class="sw-cms-block-preview-alert__container">
            <sw-icon 
                name="default-badge-info" 
                size="22"
            />
    
            <div class="sw-cms-block-preview-alert__content-container">
                <div class="sw-cms-block-preview-alert__heading">
                    Heading
                </div>
                
                <div class="sw-cms-block-preview-alert__content">
                    Lorem ipsum dolor sit amet!
                </div>
            </div>
        </div>
    </div>
{% endblock %}
