{% block sw_cms_block_preview_slider %}
    <div class="sw-cms-block-preview-slider">
        <sw-icon
            name="default-arrow-head-left"
            size="16"
        />

        <div class="sw-cms-block-preview__empty-stage">
            <sw-icon name="default-basic-plus-circle" size="18" />
            <p>{{ $tc('sw-cms.detail.label.addBlocks') }}</p>
        </div>

        <sw-icon
            name="default-arrow-head-right"
            size="16"
        />
    </div>
{% endblock %}
