{% block sw_cms_block_button %}
    <div class="sw-cms-block-preview-button">
        <sw-button 
            variant="primary"
            size="small"
        >
            Lorem ipsum
        </sw-button>
    </div>
{% endblock %}
