{% block sw_cms_element_button_config %}
    <div class="sw-cms-el-config-button">
        <sw-cms-link-field
            :label="$tc('sw-cms.elements.button.config.link.label')"
            :link.sync="element.config.link.value"
            type="button"
        />
    </div>
{% endblock %}
