.sw-cms-el-audio {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;

    img {
        aspect-ratio: 1 / 1;
        width: 20%;
        max-width: 115px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__main-content {
        flex: 1;
    }

    &__title {
        margin-bottom: 4px;
    }

    &__author {
        color: #c1c2c3;
    }

    &__audio-container {
        margin-top: 12px;

        audio {
            width: 100%;
        }
    }
}
