@import "~scss/variables";

.sw-cms-block-card-horizontal {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #d1d9e0;
    border-radius: 4px;

    &__header {
        flex: 1 1 33%;
        padding: 20px 20px 10px;
        background-color: rgba(0, 0, 0, .03);
        border-right: 1px solid #d1d9e0;

        .cms-block-sub-section {
            margin-bottom: -10px;
        }
    }

    &__body {
        flex: 1 1 66%;
        padding: 20px 20px 10px;
    }

    .sw-cms-section__content.is--empty {
        min-height: 100%;
        height: 200px;
    }
}
