{% block sw_cms_block_video %}
    <div class="sw-cms-block-preview-video">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        
        <sw-icon 
            name="multicolor-action-play" 
            size="32"
        />
    </div>
{% endblock %}
