{% block sw_cms_element_breadcrumbs %}
    <div class="sw-cms-el-breadcrumbs">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" title="Home">
                    <span class="breadcrumb-title">Home</span>
                </a>
            </li>
    
            <div class="breadcrumb-placeholder"> | </div>
    
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" title="Category">
                    <span class="breadcrumb-title">Category</span>
                </a>
            </li>
    
            <div class="breadcrumb-placeholder"> | </div>
    
            <li class="breadcrumb-item">
                <a class="breadcrumb-link  is-active" title="SubCategory">
                    <span class="breadcrumb-title">SubCategory</span>
                </a>
            </li>
        </ol>
    </div>
{% endblock %}
