{% block sw_cms_element_newsletter_preview %}
    <div class="sw-cms-el-preview-newsletter">
        <div>
            <label class="sw-cms-el-preview-newsletter__form-label">Email address*</label>
            <div class="sw-cms-el-preview-newsletter__form-group">
                <input class="sw-cms-el-preview-newsletter__form-control" 
                    placeholder="john@doe.com" 
                    disabled
                >
                <button class="sw-cms-el-preview-newsletter__sumbit">Submit</button>
            </div>
        </div>
    </div>
{% endblock %}
