{% sw_extends '@Storefront/storefront/block/cms-block-group/cms-block-group-dynamic.html.twig' %}

{% block cms_block_group_dynamic_content %}
    {% block cms_block_slider %}
        <div class="cms-slider">
            {% set baseSliderOptions = {
                slider: {
                    items: block.customFields.additionalSettings.numberOfDisplayedSlides,
                    gutter: block.customFields.additionalSettings.gutter,
                    edgePadding: block.customFields.additionalSettings.edgePadding,
                    startIndex: block.customFields.additionalSettings.startIndex,
                    speed: block.customFields.additionalSettings.speed,
                    autoplay: block.customFields.additionalSettings.autoplay,
                    autoplayButtonOutput: false,
                    autoplayTimeout: block.customFields.additionalSettings.autoplayTimeout,
                    autoHeight: block.customFields.additionalSettings.autoHeight,
                    controls: block.customFields.additionalSettings.controls,
                    nav: false,
                    mouseDrag: block.customFields.additionalSettings.mouseDrag,
                    responsive: {
                        xs: {
                            items: block.customFields.additionalSettings.sm_numberOfDisplayedSlides,
                            gutter: block.customFields.additionalSettings.sm_gutter,
                            edgePadding: block.customFields.additionalSettings.sm_edgePadding
                        },
                        sm: {
                            items: block.customFields.additionalSettings.sm_numberOfDisplayedSlides,
                            gutter: block.customFields.additionalSettings.sm_gutter,
                            edgePadding: block.customFields.additionalSettings.sm_edgePadding
                        },
                        md: {
                            items: block.customFields.additionalSettings.md_numberOfDisplayedSlides,
                            gutter: block.customFields.additionalSettings.md_gutter,
                            edgePadding: block.customFields.additionalSettings.md_edgePadding
                        }
                    }
                }
            } %}

            {% block cms_block_slider_baseSlider %}
                <div class="base-slider{% if block.customFields.additionalSettings.controlsPosition == 'outside' %} base-slider--controls-outside{% endif %}"
                    data-base-slider="true"
                    data-base-slider-options='{{ baseSliderOptions|json_encode }}'
                >
                    {% block cms_block_slider_baseSlider_inner %}
                        {% block cms_block_slider_baseSlider_container %}
                            <div class="slider-container"
                                data-base-slider-container="true"
                            >
                                {% for panelConfig in panelConfigs %}
                                    {% block cms_block_slider_baseSlider_item %}
                                        <div class="slider-item">
                                            {% block cms_block_slider_baseSlider_item_subBlocks %}
                                                {% for block in panelConfig.subBlocks %}
                                                    {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" with {
                                                        sectionBlocks: sectionBlocks,
                                                        parentBlockId: currentBlockId
                                                    } %}
                                                {% endfor %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                {% endfor %}
                            </div>
                        {% endblock %}
                                
                        {% block cms_block_slider_baseSlider_controls %}
                            <div class="base-slider-controls"
                                data-base-slider-controls="true"
                            >
                                {% block cms_block_slider_baseSlider_controls_prev %}
                                    <button class="base-slider-controls-prev">
                                        {% sw_icon 'arrow-head-left' %}
                                    </button>
                                {% endblock %}

                                {% block cms_block_slider_baseSlider_controls_next %}
                                    <button class="base-slider-controls-next">
                                        {% sw_icon 'arrow-head-right' %}
                                    </button>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
