{% sw_extends '@Storefront/storefront/block/cms-block-group/cms-block-group-dynamic.html.twig' %}

{% block cms_block_group_dynamic_content %}
    {% block cms_block_row %}
        {% set rowOptions = {
            direction: block.customFields.direction,
            md_direction: block.customFields.md_direction,
            sm_direction: block.customFields.sm_direction,
            gap: block.customFields.gutter,
            md_gap: block.customFields.md_gutter,
            sm_gap: block.customFields.sm_gutter,
        } %}

        <div class="cms-custom-row row no-gutters"
            data-row="true"
            data-row-options='{{ rowOptions|json_encode }}'
        >
            {% for panelConfig in panelConfigs %}
                {% block cms_block_row_col %}
                    <div class="col">
                        {% block cms_block_row_col_subBlocks %}
                            {% for block in panelConfig.subBlocks %}
                                {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" with {
                                    sectionBlocks: sectionBlocks,
                                    parentBlockId: currentBlockId
                                } %}
                            {% endfor %}
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
