{% block cms_block_alert %}
    {% set element = block.slots.getSlot('slot') %}
    {% set columns = 1 %}
    
    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block cms_block_alert_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
