{% sw_extends '@Storefront/storefront/block/cms-block-group/cms-block-group-predefined.html.twig' %}

{% set columnChildBlocks = {
    'leftContent': [],
    'rightContent': []
} %}

{% block cms_block_group_predefined_content %}
    {% block cms_block_content_compare %}
        <div class="cms-content-compare" 
            data-content-compare="true"
        >
            {% block cms_block_content_compare_leftContent %}
                <div class="cms-content-compare-slot left-content">
                    <div>
                        {% block cms_block_content_compare_leftContent_subBlocks %}
                            {% for block in columnChildBlocks.leftContent %}
                                {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" with {
                                    sectionBlocks: sectionBlocks,
                                    parentBlockId: currentBlockId
                                } %}
                            {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block cms_block_content_compare_rightContent %}
                <div class="cms-content-compare-slot right-content">
                    <div>
                        {% block cms_block_content_compare_rightContent_subBlocks %}
                            {% for block in columnChildBlocks.rightContent %}
                                {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" with {
                                    sectionBlocks: sectionBlocks,
                                    parentBlockId: currentBlockId
                                } %}
                            {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block cms_block_content_compare_divider %}
                <div class="cms-content-compare-divider">
                    {% block cms_block_content_compare_divider_button %}
                        <div class="cms-content-compare-divider-button">
                            {% block cms_block_content_compare_divider_button_icon %}
                                {% sw_icon 'arrow-move-vertical-axis' %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
