{% sw_extends '@Storefront/storefront/block/cms-block-group/cms-block-group-predefined.html.twig' %}

{% set columnChildBlocks = {
    'headerContent': [],
    'bodyContent': [],
    'footerContent': []
} %}

{% block cms_block_group_predefined_content %}
    {% block cms_block_card %}
        <div class="cms-card card">
            {% block cms_block_card_inner %}
                {% if block.customFields.showHeader and columnChildBlocks.headerContent %}
                    {% block cms_block_card_header %}
                        <div class="card-header"
                            {% if block.customFields.removeHeaderPadding %}style="padding: 0;"{% endif %}
                        >
                            {% block cms_block_card_header_subBlocks %}
                                {% for block in columnChildBlocks.headerContent %}
                                    {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" with {
                                        sectionBlocks: sectionBlocks,
                                        parentBlockId: currentBlockId
                                    } %}
                                {% endfor %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endif %}

                {% if columnChildBlocks.bodyContent %}
                    {% block cms_block_card_body %}
                        <div class="card-body">
                            {% block cms_block_card_body_subBlocks %}
                                {% for block in columnChildBlocks.bodyContent %}
                                    {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" with {
                                        sectionBlocks: sectionBlocks,
                                        parentBlockId: currentBlockId
                                    } %}
                                {% endfor %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endif %}

                {% if block.cutomFields.showFooter and columnChildBlocks.footerContent %}
                    {% block cms_block_card_footer %}
                        <div class="card-footer">
                            {% block cms_block_card_footer_subBlocks %}
                                {% for block in columnChildBlocks.footerContent %}
                                    {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" with {
                                        sectionBlocks: sectionBlocks,
                                        parentBlockId: currentBlockId
                                    } %}
                                {% endfor %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
