{% sw_extends '@Storefront/storefront/block/cms-block-group/cms-block-group-dynamic.html.twig' %}

{% block cms_block_group_dynamic_content %}
    {% block cms_block_timeline %}
        {% set timelineOptions = {
            position: block.customFields.additionalSettings.position,
            md_position: block.customFields.additionalSettings.md_position,
            sm_position: block.customFields.additionalSettings.sm_position,
            padding: block.customFields.additionalSettings.padding,
            md_padding: block.customFields.additionalSettings.md_padding,
            sm_padding: block.customFields.additionalSettings.sm_padding
        } %}

        <div class="cms-timeline" 
            data-timeline="true"
            data-timeline-options='{{ timelineOptions|json_encode }}'
        >
            {% block cms_block_timeline_content %}
                {% for panelConfig in panelConfigs %}
                    {% block cms_block_timeline_item %}
                        <div class="cms-block-timeline-item">
                            {% block cms_block_timeline_item_inner %}
                                <div class="cms-block-timeline-item-inner">
                                    {% block cms_block_timeline_item_inner_subBlocks %}
                                        {% sw_include "@Storefront/storefront/section/cms-section-blocks.html.twig" with {
                                            blocks: panelConfig.subBlocks,
                                            sectionBlocks: section.blocks,
                                            parentBlockId: currentBlockId
                                        } %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endfor %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
