{% sw_extends '@Storefront/storefront/block/cms-block-group/cms-block-group-predefined.html.twig' %}

{% set columnChildBlocks = {
    'headerContent': [],
    'bodyContent': []
} %}

{% block cms_block_group_predefined_content %}
    {% block cms_block_card_horizontal %}
        <div class="cms-card-horizontal card">
            {% block cms_block_card_horizontal_row %}
                <div class="row no-gutters">
                    {% block cms_block_card_horizontal_row_inner %}
                        {% if columnChildBlocks.headerContent %}
                            {% block cms_block_card_horizontal_header_col %}
                                <div class="cms-card-horizontal-left-col"
                                    style="min-width: {{ block.customFields.additionalSettings.leftColMinWidth }}px;"
                                >
                                    {% block cms_block_card_horizontal_header %}
                                        <div class="card-header"
                                            {% if block.customFields.additionalSettings.removeLeftColPadding %}style="padding: 0;"{% endif %}
                                        >
                                            {% block cms_block_card_horizontal_header_subBlocks %}
                                                {% sw_include "@Storefront/storefront/section/cms-section-blocks.html.twig" with {
                                                    blocks: columnChildBlocks.headerContent,
                                                    sectionBlocks: section.blocks,
                                                    parentBlockId: currentBlockId
                                                } %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endif %}

                        {% if columnChildBlocks.bodyContent %}
                            {% block cms_block_card_horizontal_body_col %}
                                <div class="cms-card-horizontal-right-col">
                                    {% block cms_block_card_horizontal_body %}
                                        <div class="card-body">
                                            {% block cms_block_card_horizontal_body_subBlocks %}
                                                {% sw_include "@Storefront/storefront/section/cms-section-blocks.html.twig" with {
                                                    blocks: columnChildBlocks.bodyContent,
                                                    sectionBlocks: section.blocks,
                                                    parentBlockId: currentBlockId
                                                } %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
