{% sw_extends '@Storefront/storefront/block/cms-block-group/cms-block-group-dynamic.html.twig' %}

{% block cms_block_group_dynamic_content %}
    {% block cms_block_timeline %}
        {% for panelConfig in panelConfigs %}
            <div class="cms-block-timeline-item{% if loop.index % 2 == 0 %} cms-block-timeline-item--right{% endif %}">
                <div class="cms-block-timeline-item-inner">
                    {% for block in panelConfig.subBlocks %}
                        {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" with {
                            sectionBlocks: sectionBlocks,
                            parentBlockId: currentBlockId
                        } %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}
