{% block sw_cms_block_newsletter %}
    <div class="sw-cms-block-preview-newsletter">
        <label class="sw-cms-block-preview-newsletter__form-label">Email address*</label>
        <div class="sw-cms-block-preview-newsletter__form-group">
            <input class="sw-cms-block-preview-newsletter__form-control" 
                placeholder="john@doe.com" 
                disabled
            >
            <button class="sw-cms-block-preview-newsletter__sumbit">Submit</button>
        </div>
    </div>
{% endblock %}
