{% block sw_cms_block_additional_config_base_form %}
    {% block sw_cms_block_config_tabs %}
        <div class="sw-cms-block-config-tabs">
            {# Active index #}
            <sw-number-field
                v-model="additionalSettingsFields.activeIndex"
                :label="$tc('sw-cms.blocks.tabs.config.activeIndex.label')"
                :min="1"
                :step="1"
                size="small"
                :disabled="notResponsive"
            />
        </div>
    {% endblock %}
{% endblock %}
