.cms-content-compare {
    position: relative;
    display: flex;
    user-select: none;
}

.cms-content-compare-slot {
    flex: 0 0 50%;
    display: flex;
    overflow: hidden;

    &.right-content {
        justify-content: flex-end;
    }
}

.cms-content-compare-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-right: 2px solid $sw-border-color;
}

.cms-content-compare-divider-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6.5px 9px;
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid $sw-border-color;
    border-radius: 50%;
    cursor: pointer;

    .icon {
        width: 16px;
        height: 16px;
        color: inherit;

        svg {
            top: 2px;
        }
    }
}
