{% block sw_cms_element_code_config %}
    <div class="sw-cms-el-config-code">
        <sw-highlight-text :text="$tc('sw-cms.elements.code.config.warningText')" />

        <sw-code-editor 
            v-model="element.config.htmlContent.value"
            :label="$tc('sw-cms.elements.code.config.htmlContent.label')"
            completionMode="text" 
            mode="text" 
            :softWraps="true" 
        />

        <sw-code-editor
            v-model="element.config.cssContent.value"
            :label="$tc('sw-cms.elements.code.config.cssContent.label')"
            completionMode="text" 
            mode="text" 
            :softWraps="true" 
        />
    </div>
{% endblock %}
