{% block sw_cms_element_breadcrumbs_config %}
    <div class="sw-cms-el-config-breadcrumbs">
        <sw-alert variant="info">
            {{ $tc('sw-cms.elements.general.config.infoText.listingElement') }}
        </sw-alert>
    </div>
{% endblock %}
