{% block sw_cms_block_row_additional_config %}
    <div class="sw-cms-block-row-additional-config">
        {# Gap #}
        <sw-number-field
            v-model="block.customFields.gap"
            label="Gap"
            :min="0"
            :max="100"
            :step="1"
        >
            <template v-slot:suffix="{  identification  }">px</template>
        </sw-number-field>
    </div>
{% endblock %}
